.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rhistory
.Rproj.user/D8F1EA21/pcs/files-pane.pper
.Rproj.user/D8F1EA21/pcs/source-pane.pper
.Rproj.user/D8F1EA21/pcs/windowlayoutstate.pper
.Rproj.user/D8F1EA21/sources/prop/INDEX
Data/.DS_Store
data/GROseq/.DS_Store
